:root {
  --logo-size: 6.125em;
  --title-size: calc(0.9em * (24.06 / 16));
  --text-size: calc(var(--title-size) * (18.82 / 24.06));
  --action-text-size: calc(var(--title-size) * (14 / 24.06));
  --button-text-size: calc(var(--title-size) * (20.08 / 24.06));
}

body {
  font-family: "Fira Code";
  padding: 0px;
  margin: 0px;
}

#intro, #button-group {
  padding: 0 7.5vw;
}

#button-group > .logo {
  display: none;
}

#intro {
  display: flex;
  gap: 2em;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 1em;
}

#intro > img {
  width: var(--logo-size);
  height: var(--logo-size);
  justify-self: center;
  align-self: center;
}

#title {
  --title-hgap: calc(var(--title-size) * (6.02 / 24.06));
  --title-vgap: calc(var(--title-size) * (9.02 / 24.06));
  font-size: var(--title-size);
  display: flex;
  gap: var(--title-hgap);
  align-items: baseline;
  align-self: center;
}

#title > span {
  padding: var(--title-hgap) var(--title-vgap); /* naming is weird, but this is correct */
  color: white;
  background: black;
  border-radius: var(--title-hgap);
}

#intro #intro-text {
  font-size: var(--text-size);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#intro-text p {
  margin: 0px;
}

#intro-text > a {
  color: black;
}

#button-group {
  background: black;
  color: white;
  padding-top: 1em;
  padding-bottom: 3em;
  min-height: 50vh;
}

#action-hint {
  font-size: var(--action-text-size);
  margin-bottom: 2em;
}

#buttons > a {
  appearance: none;
  color: black;
  background: white;
  outline: none;
  border: none;
  --vpad: calc(var(--button-text-size) * (12.91 / 20.08));
  font-size: var(--button-text-size);
  padding: var(--vpad) 0px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
  min-width: 200px;
  flex: 1;
}

#buttons > a::after {
  content: attr(data-semester);
  opacity: 1;
  transition: all 0.2s ease-out;
}

#buttons > a::before {
  content: attr(data-code);
  position: absolute;
  left: 50%;
  transform: translateX(-150%);
  opacity: 0;
  transition: all 0.27s ease-in;
}

#buttons > a.show::after {
  opacity: 0;
}

#buttons > a.show::before {
  transform: translateX(-50%);
  opacity: 1;
}

#buttons > a.hide {
  opacity: 0;
  pointer-events: none;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

#divider {
  height: 2.4em;
  margin-top: 1em;
  background: black;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%); /* this draws a triangle */
}

#trig {
  display: none;
  float: left;
  height: 100vh;
  width: 4em;
  shape-outside: polygon(0% 0%, 100% 100%, 0% 100%);
}

@media (min-width: 800px) {
  main {
    display: flex;
    height: 100vh;
  }

  #intro, #button-group {
    flex: 1;
    padding: 3em;
  }

  #intro > #title, #button-group > .logo {
    margin-bottom: 64px;
  }

  #intro > #title, #intro > #intro-text {
    --title-size: calc(1.05em * (24.06 / 16));
  }

  #intro {
    order: 3;
    display: block;
    padding: 3em 6em 0em 0em;
    overflow: hidden;
  }

  #intro #intro-text {
    display: block;
    margin-left: 0.7em;
  }

  #intro-text > p {
    margin-bottom: 1em;
  }

  #trig {
    display: block;
  }

  #divider {
    order: 2;
    height: 100vh;
    width: 4em;
    margin: 0px;
  }

  #button-group {
    overflow: scroll;
  }

  #intro > img {
    display: none;
  }

  #button-group > .logo img {
    --size: 100px;
    width: var(--size);
    height: var(--size);
  }

  #button-group > .logo {
    display: grid;
    justify-items: center;
  }

  #intro > #title {
    height: 100px;
    align-items: center;
  }

  #buttons {
    gap: 1.5em;
  }

  #buttons > a {
    min-width: 180px;
  }

  #button-group > #action-hint {
    margin-bottom: 2.5em;
  }
}
