:root {
  --logo-size: 70px;
  --title-size: calc(0.9em * (24.06 / 16));
  --grey: #8f8f9d;
  --dark-grey: #5E5E5E;
}

body {
  font-family: "Fira Code", monospace;
  padding: 2.5em;
  margin: 0px;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > main, body > header {
  max-width: 1200px;
  width: 100%;
}

h1, h2 {
  padding: 0px;
  margin: 0px;
}

#logo > img {
  width: var(--logo-size);
  height: var(--logo-size);
}

#title {
  --title-hgap: calc(var(--title-size) * (6.02 / 24.06));
  --title-vgap: calc(var(--title-size) * (9.02 / 24.06));
  font-size: var(--title-size);
  display: flex;
  gap: var(--title-hgap);
  align-items: baseline;
  justify-self: center;
}

#title > span {
  padding: var(--title-hgap) var(--title-vgap); /* naming is weird, but this is correct */
  color: white;
  background: black;
  border-radius: var(--title-hgap);
}

main {
  display: grid;
  height: calc(100% - var(--title-size) - 2.5rem);
  align-content: center;
}

#landing {
  display: flex;
}

#landing > section {
  flex: 1;
}

#cta-container {
  padding-rigt: 2rem;
}

#cta-container > div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 2rem;
}

#cta-container h1 {
  font-size: 3rem;
  position: relative;
  max-width: max-content;
}

#cta-container #dots {
  --translatex: 60%;
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translateX(var(--translatex)) translateY(-35%);
  display: grid;
  grid-template-columns: repeat(var(--width), 1fr);
  gap: 0.8rem;
  z-index: -1;
}

#cta-container #dots div {
  --size: 4px;
  width: var(--size);
  height: var(--size);
  background: var(--grey);
  border-radius: 50%;
}

#cta-container p {
  color: var(--dark-grey);
}

#cta-container a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  width: max-content;
  position: relative;
}

#cta-container a .underline {
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  border-radius: 2px;
  bottom: -0.5rem;
  left: 0px;
}

#illustration {
  margin-left: 2rem;
  box-sizing: border-box;
  position: relative;
}

#illustration > .panel {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  border-radius: 12px 12px 0px 0px;
  border-bottom-color: transparent;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  position: absolute;
}

#illustration > .panel #fader {
  position: absolute;
  bottom: 0px;
  left: -1px;
  width: calc(100% + 2px);
  height: 7rem;
  background: linear-gradient(to bottom, transparent, white);
  z-index: 1;
}

#illustration > div h2 {
  font-size: 0.9em;
  display: flex;
  gap: 0.4rem;
  color: var(--grey);
  font-weight: normal;
  position: relative;
  width: max-content;
}

#illustration > div h2 span:nth-child(3) {
  color: black;
}

#illustration > div h2 .underline {
  position: absolute;
  background: black;
  width: 100%;
  height: 1px;
  left: 0px;
  bottom: -0.5em;
}

header {
  display: grid;
  grid-template-columns: var(--logo-size) 1fr var(--logo-size);
  align-items: center;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

li {
  display: flex;
  align-items: start;
  gap: 0.6em;
}

ul input {
  flex-shrink: 0;
  appearance: none;
  color: var(--grey);
  font-size: 1rem;
  margin: 0px;
}

label {
  order: 2;
}

ul input[type="checkbox"]::before { /* wont work without [type="checkbox"] cuz ::before doesn't work on just input */
  content: "- [\00A0";
  letter-spacing: 4px;
}

ul input[type="checkbox"]::after {
  content: "]";
  margin-left: 4px;
}

label:hover + input {
  color: var(--dark-grey);
}

ul input:checked {
  color: black;
}

ul input:checked::before {
  content: "- [x";
}

ul input:checked::after {
  margin-left: 0px;
}

@media (max-width: 1133px) {
  #cta-container #dots {
    --translatex: 20%;
  }
}

@media (max-width: 993px) {
  #cta-container #dots {
    --translatex: -10%;
  }
}

@media (max-width: 875px) {
  #landing {
    flex-direction: column;
    gap: 4rem;
  }
  
  header {
    margin-bottom: 4rem;
  }
  
  main {
    height: initial;
    align-items: initial;
  }
  
  #cta-container #dots {
    --translatex: 60%;
  }
  
  #illustration {
    margin-left: 0px;
  }
}

@media (max-width: 583px) {
  :root {
    --logo-size: 90px;
  }

  body {
    padding: 2em 1em;
  }
  
  #cta-container #dots {
    --translatex: 0%;
  }

  header {
    display: grid;
    grid-template-columns: none;
    justify-items: center;
    margin-bottom: 3em;
    gap: 2rem;
  }
}